@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'ALK Sanet';
    src: url('./assets/font/alk-sanet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'cups';
    src: url('./assets/font/caps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pantonmtav3';
    src: url('./assets/font/pantonmtav3-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    // font-family: Arial, Helvetica, sans-serif;
}

*{
    list-style-type: none;
}


.dashed-bg {
    background-image: repeating-linear-gradient(
      45deg,
      #643434 0px,
      #643434 2px,
      transparent 2px,
      transparent 6px
    );
}
